<!DOCTYPE html>
<html>
<head>
    <title>评论管理</title>
    <link type="text/css" rel="stylesheet" href="/layuiSimpleBlog/res/layui/css/layui.css">
</head>
<head th:include="common :: head">
</head>

<body>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">回复</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<!-- navbar-->
<header class="header" th:include="common :: header">
</header>
<div class="d-flex align-items-stretch">
    <div id="sidebar" class="sidebar py-3 shrink show" th:include="common :: sidebar">
    </div>
    <div class="page-holder w-100 d-flex flex-wrap">
        <div class="container-fluid px-xl-4">
            <section class="py-4">
                <div class="row mb-4">
                    <div class="col-lg-12 mb-4 mb-lg-0">
                        <div class="card">
                            <div class="card-header">
                                <h2 class="h6 text-uppercase mb-0">评论与留言</h2>
                            </div>
                            <table id="article_table" class="table-sm mb-3" lay-filter="demo"
                                   lay-skin="nob"></table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div th:include="common :: footer">
</div>
<script src="/js/comment.js"></script>
<script src="/js/bootstrap-paginator.min.js"></script>
<script src="/layuiSimpleBlog/res/layui/layui.all.js"></script>
</body>
</html>