<!DOCTYPE html>
<html>
<head th:include="common :: head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>文章管理</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
</head>
<body>
<!-- navbar-->
<header class="header" th:include="common :: header"></header>
<div class="d-flex align-items-stretch">
    <div id="sidebar" class="sidebar py-3" th:include="common :: sidebar">
    </div>
    <div class="page-holder w-100 d-flex flex-wrap">
        <div class="container-fluid px-xl-5">
            <section class="py-4">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="card mb-5 mb-lg-0">
                            <div class="card-header">
                                <h5 class="h5 text-uppercase mb-0">公开文章列表</h5>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table-sm table-hover table-borderless mb-3">
                                        <thead>
                                        <tr>
                                            <th>文章标题</th>
                                            <th>文章标签</th>
                                            <th>浏览次数</th>
                                            <th>评论</th>
                                            <th>发布日期</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>设计新主题</td>
                                            <td>10/02/2019</td>
                                            <td>12/05/2019</td>
                                            <td><span class="label label-warning">待定</span></td>
                                            <td>
                                                <div class="progress progress-striped progress-sm">
                                                    <div class="progress-bar progress-bar-warning" style="width: 45%;"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>网站重新设计网站重新设计网站重新设计网站重新设计网站重新设计</td>
                                            <td>qwer,sfas,sdgsdg,新设计</td>
                                            <td>2019</td>
                                            <td>2019</td>
                                            <td>01/03/2019</td>
                                        </tr>      <tr>
                                            <td>网站重新设计网站重新设计网站重新设计网站重新设计网站重新设计</td>
                                            <td>qwer,sfas,sdgsdg,新设计</td>
                                            <td>2019</td>
                                            <td>2019</td>
                                            <td>01/03/2019</td>
                                        </tr>      <tr>
                                            <td>网站重新设计网站重新设计网站重新设计网站重新设计网站重新设计</td>
                                            <td>qwer,sfas,sdgsdg,新设计</td>
                                            <td>2019</td>
                                            <td>2019</td>
                                            <td>01/03/2019</td>
                                        </tr>      <tr>
                                            <td>网站重新设计网站重新设计网站重新设计网站重新设计网站重新设计</td>
                                            <td>qwer,sfas,sdgsdg,新设计</td>
                                            <td>2019</td>
                                            <td>2019</td>
                                            <td>01/03/2019</td>
                                        </tr>
                                        <tr>
                                            <td>网站重新设计网站重新设计网站重新设计网站重新设计网站重新设计</td>
                                            <td>qwer,sfas,sdgsdg,新设计</td>
                                            <td>2019</td>
                                            <td>2019</td>
                                            <td>01/03/2019</td>
                                        </tr>
                                        <tr>
                                            <td>网站重新设计网站重新设计网站重新设计网站重新设计网站重新设计</td>
                                            <td>qwer,sfas,sdgsdg,新设计</td>
                                            <td>2019</td>
                                            <td>2019</td>
                                            <td>01/03/2019</td>
                                        </tr>
                                        <tr>
                                            <td>模型设计</td>
                                            <td>10/10/2019</td>
                                            <td>12/11/2019</td>
                                            <td><span class="label label-warning">待定</span></td>
                                            <td>
                                                <div class="progress progress-striped progress-sm">
                                                    <div class="progress-bar progress-bar-warning" style="width: 25%;"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>后台管理系统模板设计</td>
                                            <td>25/01/2019</td>
                                            <td>09/05/2019</td>
                                            <td><span class="label label-success">进行中</span></td>
                                            <td>
                                                <div class="progress progress-striped progress-sm">
                                                    <div class="progress-bar progress-bar-success" style="width: 55%;"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>前端设计</td>
                                            <td>10/10/2019</td>
                                            <td>12/12/2019</td>
                                            <td><span class="label label-danger">未开始</span></td>
                                            <td>
                                                <div class="progress progress-striped progress-sm">
                                                    <div class="progress-bar progress-bar-danger" style="width: 0%;"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>桌面软件测试</td>
                                            <td>10/01/2019</td>
                                            <td>29/03/2019</td>
                                            <td><span class="label label-success">进行中</span></td>
                                            <td>
                                                <div class="progress progress-striped progress-sm">
                                                    <div class="progress-bar progress-bar-success" style="width: 75%;"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>APP改版开发</td>
                                            <td>25/02/2019</td>
                                            <td>12/05/2019</td>
                                            <td><span class="label label-danger">暂停</span></td>
                                            <td>
                                                <div class="progress progress-striped progress-sm">
                                                    <div class="progress-bar progress-bar-danger" style="width: 15%;"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <nav aria-label="Page navigation example" >
                                        <ul id="pagination" class="pagination pagination-circle"></ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="bg-white shadow roundy px-4 py-3 d-flex align-items-center justify-content-between mb-4">
                            <div class="flex-grow-1 d-flex align-items-center">
                                <div class="dot mr-3 bg-violet"></div>
                                <div class="text">
                                    <h6 class="mb-0">发布新博文</h6><span class="text-gray">publish new blog</span>
                                </div>
                            </div>
                            <div class="icon bg-violet text-white"><i class="fas fa-clipboard-check"></i></div>
                        </div>
                        <div class="bg-white shadow roundy px-4 py-3 d-flex align-items-center justify-content-between mb-4">
                            <div class="flex-grow-1 d-flex align-items-center">
                                <div class="dot mr-3 bg-green"></div>
                                <div class="text">
                                    <h6 class="mb-0">导入markdown文章</h6><span class="text-gray">214 new quotes</span>
                                </div>
                            </div>
                            <div class="icon bg-green text-white"><i class="fas fa-dollar-sign"></i></div>
                        </div>
                        <div class="bg-white shadow roundy px-4 py-3 d-flex align-items-center justify-content-between mb-4">
                            <div class="flex-grow-1 d-flex align-items-center">
                                <div class="dot mr-3 bg-blue"></div>
                                <div class="text">
                                    <h6 class="mb-0">导出markdown文章</h6><span class="text-gray">25 new clients</span>
                                </div>
                            </div>
                            <div class="icon bg-blue text-white"><i class="fas fa-user-friends"></i></div>
                        </div>
                        <div class="card ">
                            <div class="card-header">
                                <h5 class="h5 text-uppercase mb-0">公开文章列表</h5>
                            </div>
                        <div class="card-body" >
                            <table class="table-sm table-hover table-borderless">

                                <tbody style="font-weight: 400 !important;">
                                <tr>
                                    <td width="100%">导出markdown文章1</td>

                                </tr>
                                <tr>
                                    <td>导出markdown文章2</td>

                                </tr>
                                <tr>
                                    <td>导出markdown文章3</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- JavaScript files-->
<div th:include="common :: footer">
</div>
<script src="/js/bootstrap-paginator.min.js"></script>
<script src="/js/article.js"></script>
</body>
</html>