<!DOCTYPE html>
<html>
<head>
    <title>文章管理</title>
    <link type="text/css" rel="stylesheet" href="/layuiSimpleBlog/res/layui/css/layui.css">
</head>
<head th:include="common :: head">
</head>

<body>
<!-- navbar-->
<header class="header" th:include="common :: header"></header>

<script type="text/html" id="switchTpl">
    <input type="checkbox" name="ontop" value="{{d.id}}"  lay-skin="switch" lay-text="是|否" lay-filter="top" {{
           d.ontop== 0 ? 'checked' : '' }}>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="push">推送</a>
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<div class="d-flex align-items-stretch">
    <div id="sidebar" class="sidebar py-3 shrink show" th:include="common :: sidebar">
    </div>
    <div class="page-holder w-100 d-flex flex-wrap">
        <div class="container-fluid px-xl-4">
            <section class="py-4">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="card mb-5 mb-lg-0">
                            <input class="form-control" placeholder="文章搜索">
                            <table id="article_table" class="table-sm mb-3" lay-filter="demo"lay-skin="nob"></table>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="bg-white shadow roundy px-4 py-3 d-flex align-items-center justify-content-between mb-4">
                            <a href="/mlog/publish" target="_blank">
                                <div class="flex-grow-1 d-flex align-items-center">
                                    <div class="dot mr-3 bg-violet"></div>
                                    <div class="text">
                                        <h6 class="mb-0">发布新博文</h6><span class="text-gray">publish new blog</span>
                                    </div>
                                </div>
                            </a>
                            <div class="icon bg-violet text-white"><i class="fas fa-file-word"></i></div>

                        </div>
                        <div class="bg-white shadow roundy px-4 py-3 d-flex align-items-center justify-content-between mb-4">
                            <a href="#" onclick="importMd()">
                                <div class="flex-grow-1 d-flex align-items-center">
                                    <div class="dot mr-3 bg-green"></div>
                                    <div class="text">
                                        <h6 class="mb-0">导入markdown文章</h6><span
                                            class="text-gray">import new markdown</span>
                                    </div>
                                </div>
                            </a>
                            <input type="file" name="md" id="article_md" multiple="multiple" onchange="uploadFile()"
                                   hidden>
                            <div class="icon bg-green text-white"><i class="fas fa-upload"></i></div>
                        </div>
                        <div class="bg-white shadow roundy px-4 py-3 d-flex align-items-center justify-content-between mb-4">
                            <a href="#" onclick="exportMd()">
                                <div class="flex-grow-1 d-flex align-items-center">
                                    <div class="dot mr-3 bg-blue"></div>
                                    <div class="text">
                                        <h6 class="mb-0">导出markdown文章</h6><span
                                            class="text-gray">download markdowns</span>
                                    </div>
                                </div>
                            </a>
                            <div class="icon bg-blue text-white"><i class="fas fa-download"></i></div>
                        </div>
                        <div class="card ">
                            <div class="card-header">
                                <h5 class="h5 text-uppercase mb-0">未公开文章</h5>
                            </div>
                            <div class="card-body">
                                <table class="table-sm table-hover table-borderless">

                                    <tbody style="font-weight: 400 !important;">
                                    <tr>
                                        <td width="100%">导出markdown文章1</td>

                                    </tr>
                                    <tr>
                                        <td>导出markdown文章2</td>

                                    </tr>
                                    <tr>
                                        <td>导出markdown文章3</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- JavaScript files-->
<div th:include="common :: footer">
</div>


</body>
<script src="/js/article.js"></script>
<script src="/js/bootstrap-paginator.min.js"></script>
<script src="/layuiSimpleBlog/res/layui/layui.all.js"></script>
</html>