<!DOCTYPE html>
<html>
<head th:include="common :: head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>评论管理</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
</head>
<body>
<!-- navbar-->
<header class="header" th:include="common :: header">
</header>
<div class="d-flex align-items-stretch">
    <div id="sidebar" class="sidebar py-3" th:include="common :: sidebar">
    </div>
    <div class="page-holder w-100 d-flex flex-wrap">
        <div class="container-fluid px-xl-5">
            <section class="py-5">
                <div class="row mb-4">
                    <div class="col-lg-12 mb-4 mb-lg-0">
                        <div class="card">
                            <div class="card-header">
                                <h2 class="h6 text-uppercase mb-0">Line chart Example</h2>
                            </div>
                            <div class="card-body">
                                <p class="mb-5 text-gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                                <div class="chart-holder mt-5 mb-5">
                                    <canvas id="lineChartExample"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div th:include="common :: footer">
</div>
<script src="/js/bootstrap-paginator.min.js"></script>
</body>
</html>