<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<head th:include="common :: head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">

</head>
<body>
<!-- navbar-->
<header class="header" th:include="common :: header">

</header>
<div class="d-flex align-items-stretch">
    <div id="sidebar" class="sidebar py-3 shrink show" th:include="common :: sidebar">

    </div>
    <div class="page-holder w-100 d-flex flex-wrap">
        <div class="container-fluid px-xl-4">
            <section class="py-4">
                <div class="row">
                    <div class="col-xl-2 col-lg-6 mb-4 mb-xl-0">
                        <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                            <div class="flex-grow-1 d-flex align-items-center">
                                <div class="dot mr-3 bg-danger"></div>
                                <div class="text">
                                    <a href="/mlog/publish" target="_blank">
                                        <h6 class="mb-0">发布 文章</h6>
                                        <span class="text-gray">publish </span></a>
                                </div>
                            </div>
                            <div class="icon text-white bg-danger"><i class="fas fa-file-word"></i></div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-6 mb-4 mb-xl-0">
                        <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                            <div class="flex-grow-1 d-flex align-items-center">
                                <div class="dot mr-3 bg-warning"></div>
                                <div class="text">
                                    <a href="/mlog/article" target="_self">
                                        <h6 class="mb-0">文章 总数</h6><span class="text-gray article">145,14 </span>
                                    </a>
                                </div>
                            </div>
                            <div class="icon text-white bg-warning"><i class="fas fa-server"></i></div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-6 mb-4 mb-xl-0">
                        <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                            <div class="flex-grow-1 d-flex align-items-center">
                                <div class="dot mr-3 bg-success"></div>
                                <div class="text">

                                    <h6 class="mb-0">评论 总数</h6><span class="text-gray comment">145,14 </span>

                                </div>
                            </div>
                            <div class="icon text-white bg-success"><i class="fas fa-comments"></i></div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-6 mb-4 mb-xl-0">
                        <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                            <div class="flex-grow-1 d-flex align-items-center">
                                <div class="dot mr-3 bg-green"></div>
                                <div class="text">
                                    <h6 class="mb-0">友链 总数</h6><span class="text-gray links">32</span>
                                </div>
                            </div>
                            <div class="icon text-white bg-green"><i class="fas fa-user-friends"></i></div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-6 mb-4 mb-xl-0">
                        <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                            <div class="flex-grow-1 d-flex align-items-center">
                                <div class="dot mr-3 bg-violet"></div>
                                <div class="text">
                                    <h6 class="mb-0">浏览 总数</h6><span class="text-gray view">32</span>
                                </div>
                            </div>
                            <div class="icon text-white bg-violet"><i class="far fa-eye"></i></div>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-6 mb-4 mb-xl-0">
                        <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                            <div class="flex-grow-1 d-flex align-items-center">
                                <div class="dot mr-3 bg-red"></div>
                                <div class="text">
                                    <h6 class="mb-0">建站 天数</h6><span class="text-gray day">123</span>
                                </div>
                            </div>
                            <div class="icon text-white bg-red"><i class="fas fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="row mb-4">
                    <div class="col-lg-7 mb-4 mb-lg-0 pl-lg-0">
                        <div class="card">
                            <div class="card-header">
                                <h2 class="h6 text-uppercase mb-0">博文浏览数TOP10</h2>
                            </div>
                            <div class="card-body">
                                <p class="text-gray">文章千古事，得失寸心知 ----杜甫《偶题》</p>
                                <div class="chart-holder">
                                    <canvas id="lineChart1"
                                    ></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 mb-4 mb-lg-0 pl-lg-0">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row align-items-center flex-row">
                                    <div class="col-lg-5">
                                        <h2 class="mb-0 d-flex align-items-center"><span class="life">86.4</span><span
                                                class="dot bg-green d-inline-block ml-3"></span></h2><span
                                            class="text-muted text-uppercase small">生活类文章</span>
                                        <hr>
                                        <small class="text-muted">生活的感悟，人生的无常，岁月的变迁</small>
                                    </div>
                                    <div class="col-lg-7">
                                        <canvas id="pieChartHome1"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row align-items-center flex-row">
                                    <div class="col-lg-5">
                                        <h2 class="mb-0 d-flex align-items-center"><span class="skill">1.724</span><span
                                                class="dot bg-violet d-inline-block ml-3"></span></h2><span
                                            class="text-muted text-uppercase small">技术类文章</span>
                                        <hr>
                                        <small class="text-muted">学习的印记，技术的随笔，经验的积累</small>
                                    </div>
                                    <div class="col-lg-7">
                                        <canvas id="pieChartHome2"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <p class="text-gray" style="text-align: right;">
                                    年轻时总是对自己的认识不够，有时候觉得自己能力卓越，有时候觉得自己聪明伶俐，长大后，经历的事情多了，才发现自己是一无是处，平凡无能。</p>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- JavaScript files-->
<div th:include="common :: footer"></div>

<script src="/js/home.js"></script>

</body>
</html>